.wrapper {
    width: 100%;
    box-shadow: rgb(0 0 0 / 12%) 0px 2px 12px;
    border-radius: 8px;
    padding-top: 8px;
    box-sizing: border-box;
    max-height: min((100vh - 96px) - 60px, 734px);
    overflow: hidden auto;
    
    &::-webkit-scrollbar {
        border-radius: 8px;
        width: 8px;
        height: 30px;
        background-color: var(--main-color);
        height: 8px;
    }
}


