.header-menu {
    padding:10px 24px;
}

.chevronLeft {
    font-size: 1.6rem;
}
.title {
    font-size: 1.7rem;
    text-align: center;
    color: var(--text-color);
    margin-left:30px;
    font-weight: bold;
    text-align: center;
}