.wrapper {
    height: var(--default-layout-header-height);
    box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
    display: flex;
    justify-content: center;
    width: 100%;
}



.inner {
    height: 100%;
    width : var(--default-layout-header-width);
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding:0 20px;
}


.logo {
    height: 100%;
    align-items: center;
    display: flex;
}


.faMagnifyingGlass {
    user-select: none;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
}




.icon-menu {
    width: 20px;
    margin-left: 4px;
    background-color: transparent;
    font-size: 18px;
    padding: 0 4px;
}






.actions {
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.upload ,
.inbox {
    width: 32x;
    color:var(--text-color);
    height: 32px;
    margin: 0 10px;
}
.messager {
    width: 26px;
    height: 34px;
    margin: 0 10px;
    color:var(--text-color);
}


.avatar {
    width: 35px;
    border-radius:999px;
    margin-left: 10px;
}


// background-color: rgba(84, 84, 84, 0.92);


